In [4]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import date

data1 = pd.read_csv('data_csv/data1.csv')
# data2= pd.read_csv('data_csv/data2.csv')
data1.index = range(1, len(data1) + 1)



# Tampilkan 5 baris pertama
print(data1.dtypes)


print(data1.head())
print(data1.tail())
#dtype
print("================ Info ====================")
print(data1.info())
#obejct
print("================ Not unique ====================")
print(data1.nunique())

Kabupaten/Kota            object
Kelompok Umur - 15-24    float64
Kelompok Umur - 25-34    float64
Kelompok Umur - 35-44    float64
Kelompok Umur - 45-54    float64
Kelompok Umur - 55-64    float64
Kelompok Umur - 65+      float64
tanggal                   object
dtype: object
  Kabupaten/Kota  Kelompok Umur - 15-24  Kelompok Umur - 25-34  \
1          18.89                  27.40                  24.49
2       Sukabumi                  14.35                  22.75
3        Cianjur                  18.10                  20.36
4        Bandung                  18.09                  24.11
5          Garut                  15.22                  23.02

   Kelompok Umur - 35-44  Kelompok Umur - 45-54  Kelompok Umur - 55-64  \
1                  16.29                   9.08                   3.84
2                  22.89                  20.99                  12.16
3                  22.04                  19.24                  11.75
4                  23.83                  17.58                  11.07
5                  21.33                  20.03                  12.30

   Kelompok Umur - 65+     tanggal
1                  NaN  2020-01-01
2                 6.87  2020-01-01
3                 8.52  2020-01-01
4                 5.32  2020-01-01
5                 8.09  2020-01-01
      Kabupaten/Kota  Kelompok Umur - 15-24  Kelompok Umur - 25-34  \
24        Kota Depok                  16.70                  27.24
25       Kota Cimahi                  16.42                  26.82
26  Kota Tasikmalaya                  16.02                  20.53
27       Kota Banjar                  11.76                  18.60
28        Jawa Barat                  15.74                  23.66

    Kelompok Umur - 35-44  Kelompok Umur - 45-54  Kelompok Umur - 55-64  \
24                  26.44                  18.80                   7.85
25               25088.00                  17.93                   9.44
26                  23.51                  22.19                  11.48
27                  21.13                  21.98                  17.14
28                  23.60                  18.97                  11.76

    Kelompok Umur - 65+     tanggal
24                 2.97  2020-01-01
25                 4.32  2020-01-01
26                 6.27  2020-01-01
27                 9.38  2020-01-01
28                 6.38  2020-01-01
================ Info ====================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 1 to 28
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Kabupaten/Kota         28 non-null     object
 1   Kelompok Umur - 15-24  28 non-null     float64
 2   Kelompok Umur - 25-34  28 non-null     float64
 3   Kelompok Umur - 35-44  28 non-null     float64
 4   Kelompok Umur - 45-54  28 non-null     float64
 5   Kelompok Umur - 55-64  28 non-null     float64
 6   Kelompok Umur - 65+    27 non-null     float64
 7   tanggal                28 non-null     object
dtypes: float64(6), object(2)
memory usage: 1.9+ KB
None
================ Not unique ====================
Kabupaten/Kota           28
Kelompok Umur - 15-24    27
Kelompok Umur - 25-34    26
Kelompok Umur - 35-44    27
Kelompok Umur - 45-54    28
Kelompok Umur - 55-64    28
Kelompok Umur - 65+      27
tanggal                   1
dtype: int64